<h1>Componente de Autenticação</h1>
<header class="row">
    <nav class="col-md-8 col-md-offset-2">
        <ul class="nav nav-pills">
            <li routerLinkActive="router-link-active">
                <a [routerLink]="['signup']">
                    SignUp
                </a></li>
            <li routerLinkActive="router-link-active">
                <a [routerLink]="['signin']">
                    Signin
                </a>
            </li>
            <li routerLinkActive="router-link-active">
                <a [routerLink]="['logout']">
                    Logout
                </a>
            </li>
        </ul>
    </nav>
</header>
<div class="row spacing">
    <router-outlet></router-outlet>
</div>